---
export interface Props {
  roster?: any;
} 

const { roster = [] } =  Astro.props as Props;;
---

<section class="gallery">
  <div class="gallery-grid">
    {roster.map(item => (
      <a class="gallery-card" href={item.link}>
        <img src={item.profilePhoto} alt={item.name} />
        <h3 class="artist-name">{item.name}</h3>
        <div class="artist-name__hover">{item.name}</div>
        <h4 class="artist-title">{item.title}</h4>
      </a>
    ))}
  </div>
</section>

<style lang="scss">
  .gallery {
    display: flex;
    justify-content: center;
  }

  .gallery-grid {
    display: grid;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    justify-content: center;
  }

  .gallery-card {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    &:hover {
      img {
        transform: scale(1.1);
      }

      .gallery-info{
        opacity: 1;
      }

      .artist-name {
        display: none;
      }

      .artist-name__hover {
        display: block;
      }

      .artist-title {
        margin-top: 20px;
      }
    }
  }

  .gallery-grid:hover .gallery-card img {
    opacity: 0.5;
  }

  .gallery-grid .gallery-card:hover img {
    opacity: 0.9;
  }

  .artist-name {
    color: var(--color-primary);
    margin: 0;
    text-transform: uppercase;
    text-align: center;

    &__hover {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      color: rgba(255,255,255, 0.9);
    }
  }

  .artist-title {
    color: var(--color-primary);
    margin: 0;
    text-align: center;
    font-weight: 400;
  }
</style>